*{
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
    font-feature-settings: "smcp" ;
}



:root{
/* ==========Colors=========== */
--body-color:transparent;
--sidebar-color:#f3e0d2;
--primary-color:#f3e0d2;
--text-color:#fff;
--troggles-color:#;
transition: 0.3s ;
}
.body .dark{
    /* ==========Colors=========== */
    --body-color:#fff;
    --sidebar-color:#f3e0d2;
    --primary-color:#f3e0d2;
    --text-color:black;
    --troggles-color:#;
    }

.navbar1{
    width: 100%;
    height: 12vh;
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;

}
nav{
    display: flex;
    width: 100%;
    height: 100%;
}
.search {
color: var(--text-color);
width: 100%;
height: 10vh;
display: flex;

}
.search1 {
font-size: 20px;
font-weight: bold;
margin-top: 5vh;
margin-left: 5%;
width: 2%;

}
.search1 i{
    width: 100%;
}
.search2{
font-size: 18px;
font-weight: bold;
margin-top: 4.8vh;
margin-left: 4%;
width: 98%;
}
.search2 input{
    font-size: 14px;
    background-color: var(--body-color);
    border: none;
    color: var(--text-color) white;
    width: 80%;
    height:4vh ;
    

    
    }
.logo {
    width: 100%;
    height:100%;
    background-color:var(--body-color);
   position: relative;
   align-items: center;
 
}
.logo img {
    width: auto;
   height: 80%;
   margin-top: 2vh;
   margin-left: 36%;
   cursor: pointer;
   
}

.navbtn{
    width: 100%;
    background-color: transparent;
    text-align: right;
    margin-top: 5vh;

    
}
.navbtn-a{
    text-decoration: none;
    color: var(--text-color);
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2vh;
  

}
.navbtn-ab{
    text-decoration: none;
    color: var(--text-color);
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5vh;
    margin-right: 5vh;

}
.navbar2{
    margin-top: 3vh;
    width: 100%;
    height: 5vh;
    text-align: center;
}
.navbar2 a{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-around;
    position: relative;
   letter-spacing: 0.5px;
}
.navbar2 a:after{
    content: "";
    position: absolute;
    background-color: #fff;
    width:0;
    left: 0;
    bottom: -5px;
    height: 1.5px;
    transition: 0.2s;
}
.navbar2 a:hover:after{
    width: 100%;
}
.header{
    transition: 0.3s ease-in-out;
    color: var(--text-color);
  margin-top: -118vh;
  position: relative;

}
.ban{
    width: 100%;
   
    position: relative;

}
.banner{
    width: 100%;
    height: auto;
    
}
.car{
    width: 100%;
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    

}
.incar{
    width: 100%;
    display: flex;
    height: auto;
    text-align: center  ;
    margin-top: 4vh;
    margin-bottom: 4vh;
    
}
.carimg{
    width: 100%;
    height: 25vh;
   
}
.incar a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    
}

.b1,.b2,.b3,.b4{
    width: 100%;
   height: 110vh;
   background-repeat: no-repeat;

}

.b1{
background-image: url(imges/b1.jpg);
 background-size: 100%;
 height: 89vh;
}
.b2{
    background-image: url(imges/b2.jpg);
     background-size: 100%;
     height: 102vh;
}
.b3{
    background-image: url(imges/b3.jpg);
     background-size: 100%;
     height: 95vh;
    }
.b4{
    background-image: url(imges/b4.jpg);
     background-size: 100%;
     height: 100vh;
    
}
  
.b1 a button{
    text-align: center;
    font-size: 12px;
    border: none;
    
    border-radius: 8px;
    height: 8vh;
    margin-top: 75vh;
    margin-left: 45%;
    color: black;
    background-color: #fff;
    width: 150px;
    font-family:Gill Sans, sans-serif;
    transition: 0.2s;
    font-weight: bold;
    
}
.b1 a button:hover{
    box-shadow: 0px 0px 16px 3px black;
    letter-spacing: 2px;

}
.b2 a button{
    text-align: center;
    font-size: 12px;
    border: none;
    
    border-radius: 8px;
    height: 8vh;
    margin-top: 88vh;
    margin-left: 45%;
    color: black;
    background-color: #fff;
    width: 150px;
    font-family:Gill Sans, sans-serif;
    transition: 0.2s;
    font-weight: bold;
    
}
.b2 a button:hover{
    box-shadow: 0px 0px 16px 3px black;
    letter-spacing: 2px;
}.b3 a button{
    text-align: center;
    font-size: 12px;
    border: none;
    
    border-radius: 8px;
    height: 8vh;
    margin-top: 81vh;
    margin-left: 45%;
    color: black;
    background-color: #fff;
    width: 150px;
    font-family:Gill Sans, sans-serif;
    transition: 0.2s;
    font-weight: bold;
    
    
}
.b3 a button:hover{
    box-shadow: 0px 0px 16px 3px black;
    letter-spacing: 2px;


}.b4 a button{
    text-align: center;
    font-size: 12px;
    border: none;
    
    border-radius: 8px;
    height: 8vh;
    margin-top: 85vh;
    margin-left: 45%;
    color: black;
    background-color: #fff;
    width: 150px;
    font-family:Gill Sans, sans-serif;
    font-feature-settings: "smcp" ;
    transition: 0.2s;
    font-weight: bold;
   
    
}
.b4 a button:hover{
    box-shadow: 0px 0px 16px 3px black;
    letter-spacing: 2px;

}
.shop{
    display: flex;
    width: 100%;
}
.shop2 {
    text-align: center;
    font-size: 12px;
    margin-top:5vh;
    font-family:Gill Sans, sans-serif;
    margin-bottom: 5vh;
    font-weight: bold;
}
.s1{
        width: 100%;
        height: 88vh;
        margin-left: 3vh;
        background-color:transparent;
        margin-bottom: 3vh;
        font-weight: bold;
}
.s1s1{
    width: 100%;
    height: 68vh;
    background-repeat: no-repeat;
    background-image: url(imges/s1.jpg);
    transition: 0.2s ;
    background-size: 100%;
}
.s1s1:hover{
    width: 100%;
    height: 68vh;
    background-image: url(imges/s1hover.jpg);
}
.s1s2{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s2.jpg);
    transition: 0.2s ;
    background-size: 100%;
}
.s1s2:hover{
    width: 100%;
    height: 68vh;
    background-image: url(imges/s2hover.jpg);
    background-repeat: no-repeat;
}
.s1s3{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s3hover.jpg);
    transition: 0.2s ;
    background-size: 100%;
}
.s1s3:hover{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s3.jpg);
}
.s1s4{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s4.jpg);
    transition: 0.3s ;
    background-size: 100%;
}
.s1s4:hover{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s4hover.jpg);
}
.s1s5{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s5.jpg);
    transition: 0.2s ;
    background-size: 100%;
}
.s1s5:hover{
    width: 100%;
    height: 68vh;
    background-repeat: no-repeat;
    background-image: url(imges/s5hover.jpg);
}
.s1s6{
    width: 100%;
    height: 68vh;
    background-repeat: no-repeat;
    background-image: url(imges/s6.jpg);
    transition: 0.2s ;
    background-size: 100%;
}
.s1s6:hover{
    background-repeat: no-repeat;
    width: 100%;
    height: 68vh;
    background-image: url(imges/s6hover.jpg);
}
.s1s7{
    width: 100%;
    height: 68vh;
    background-repeat: no-repeat;
    background-image: url(imges/s7.jpg);
    transition: 0.2s ;
    background-size: 100%;
}
.s1s7:hover{
    width: 100%;
    background-repeat: no-repeat;
    height: 68vh;
    background-image: url(imges/s7hover.jpg);
}
.s1s8{
    width: 100%;
    height: 68vh;
    background-repeat: no-repeat;
    background-image: url(imges/s8.jpg);
    transition: 0.3s ;
    background-size: 100%;
}
.s1s8:hover{
    width: 100%;
    height: 68vh;
    background-repeat: no-repeat;
    background-image: url(imges/s8hover.jpg);
}
.s1 a{
text-decoration: none;
text-align: center;
}
.s1t1{
        font-size: 15px;
        text-decoration: none;
        color: black;
        font-family:small-caps 26px Verdana ;
        margin-top: 3vh;

        
}
.s1t1 p{
    font-size: 17px;
    margin-top: 1vh;
    font-weight: normal;
}
.s1t1 button{
    background-color: var(--body-color);
    padding:7px 10px 7px 10px;
    font-size: 18px;
    text-align: center;
    
    border: 1px solid gray;
}
/*=================footer==================*/
.fd{
    display: flex;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.ffdp{
    font-weight: bold;
    font-size: 12px;
    margin-top: 2vh;
    letter-spacing: 2px;
    color: black;
   
    font-family:small-caps 26px Verdana ;
}
.ffd{
    width: 100%;
    text-align: center;
}

.ffd i{
    font-size: 50px;
}

.footer{
    display: flex;
    width: 100%;
    background-color: #eeeeee;  
  height: 55vh;
}

.f1{
    width: 100%;
    margin-top: 3%;
    margin-left: 3vh;
    margin-right: 3vh;
}
.f1 a{
    color: black;
}
.f1 h5{
    font-weight: bold;
}
.f1a{
    text-decoration: none;
}
.f1 input{
    width: 92%;
    height: 7vh;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
    
    
}
.f1 .butto{
    width: auto;
    height: 7vh;
    background-color: transparent;
    border: none;
    margin-left: -2%;
   
    margin-left: -5vh;
    font-weight: bold;
    
}
.btnn{
font-size: 16px;
background-color: transparent;
border: none;
color: black;
width: 7vh;
height: 7vh;
margin-left: -4px;
transform: scale(1);
transition: 0.3s ;
}
.btnn:hover{
    background-color: black;
    color: #fff;
   font-size: 24px;
   padding-bottom: 1vh;
   height: 8vh;
   width: 8vh;

}
.upbtn{
    height: 7vh;
    width: 7vh;
    background-color: rgba(128, 128, 128, 0.58);
    scroll-behavior: smooth;
    right: 0;
    bottom: 0;
    top :100;
    position:fixed;
    left: 100;
    margin-right: 2vh;
    border: none;
    margin-bottom: 2vh;
}
.upbtn i{
    font-size: 20px;
    color: #fff;

}
.fut{
    background-color: #eeeeee;
    height: auto;
}
.fut p{
   font-size: 14px;
    padding: 5vh;
}

